
<link href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' type = 'text/css' rel = 'stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Comfortaa|Happy+Monkey|Righteous" rel="stylesheet">
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Expense Manager</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink = 'dashboard'>Dashboard</a></li>
        <li><a routerLink = 'expenses'>Manage Expenses</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>

